{% extends 'base.html.twig' %}

{% block title %}Atelier Pauline
{% endblock %}

{% block body %}


	<section class="contact">
		<div class="container">
			</br><h1 class="h3 mb-3 font-weight-normal">Ou nous trouver</h1>
			<div class="map-responsive">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10498.839949959149!2d2.3549324422836513!3d48.8637403846237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e06a4895555%3A0x46457797f9d055c3!2sL%C3%95U.YETU%20-%20Bijoux%20Espi%C3%A8gles!5e0!3m2!1sfr!2sfr!4v1678797023483!5m2!1sfr!2sfr" width="780" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>
	</section>
{% endblock %}
