{% extends "base.html.twig" %}

{% block title %}Erreur d'accès{% endblock %}

{% block body %}


<div class="course">

    <h1>Erreur d'accès</h1>
    <h5>Vous n'avez pas accès à cette page</h5>
</div>


{% endblock %}