{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouvel utilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <a class="buy-now" href="{{ path('app_user_index') }}">Retourner à la liste</a>
{% endblock %}